[Desktop Entry]
Version=1.0
Type=Application
Name=Pengupop
Comment=Networked Game in the vein of Move/Puzzle Bobble
Exec=pengupop
Icon=pengupop
Categories=Game;ArcadeGame;
StartupNotify=false
Terminal=false
